<div>
    <h4>Materias</h4>
    <select name="" id="" (change)="getMateria($event)">
        @for (materia of materias; track materia.id) {
            <option value="{{materia.id}}" >{{materia.nombre}}</option>
        }
    </select>
    
    @if (isVisible) {
        <button (click)="isVisible=false">Ocultar</button>
        <h1>Materias</h1>
        <div class="table-container">
            <table>
            
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Materia</th>
                    </tr>
                </thead>
                <tbody>
                    @for (materia of materias; track materia.id) {
                        <tr>
                            <td>{{materia.id}}</td>
                            <td>{{materia.nombre}}</td>
                        </tr>
                    }
                </tbody>
                
            </table>
        </div>
            
    }@else {
        <button (click)="isVisible=true">Mostrar</button>
    
    }
    
    <app-nombre-input></app-nombre-input>
</div>

