header {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

thead{
  text-align: center;
}

.table-container{
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #E2E2B6;
  background-color: #03346E;
}

table {
  border-collapse: collapse;
}

th{
  border-bottom: 2px solid #E2E2B6;
  background: #03346E;
  color: white;
} 
td{
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #E2E2B6;
  background: #03346E;
  color: white;
}
